<div class="row">
  <div class="col-md-12 text-center">
    <h1>Aww man, you lost. Want revenge?!</h1><br>
    <%= link_to "Yes, I want revenge!", root_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>