<div class="row">
  <div class="col-md-12 text-center">
    <h1>Yeehaaww! You won! Play again?</h1><br>
    <%= link_to "Yes! Let's win again!", root_path, class: 'btn btn-success btn-lg' %>
  </div>
</div>
